*.aux
*.bbl
*.bbl-SAVE-ERROR
*.bcf
*.bcf-SAVE-ERROR
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.xml
*.gz
*.toc
*.dpth
*.md5
*.auxlock
.gz
**/build/*.pdf
!**/build/master.pdf
*.pyg
_minted-master
.vscode/
**/build/_minted/
.chktexrc
/programming_python/movies.csv
/programming_python/ratings.csv
